{% extends "base.html" %}
{% block stylesheets %}
    {# 1. Mantenemos el CSS principal de la web (estilos_noticias.css) #}
    {{ parent() }}
    
    {# 2. Añadimos el CSS exclusivo de esta página #}
    <link rel="stylesheet" href="estilos/mis_datos.css?v={{ "now"|date("U") }}">
{% endblock %}

{% block titulo %}Mis Datos - Lucerna Informa{% endblock %}

{% block scripts %}
    <script src="js/global.js?v={{ "now"|date("U") }}"></script>
{% endblock %}

{% block contenido %}

<main id="mis_datos">
    <h2 class="titulo-perfil">Gestión de Perfil</h2>
    
    <div class="layout-dos-columnas">
        
        <div class="columna-info">
            <h3>Tus Datos Actuales</h3>
            <div class="tarjeta-datos">
                <p><strong>Nombre:</strong> <span id="info_nombre">{{ usuario.nombre }}</span></p>
                <p><strong>Email:</strong> <span id="info_email">{{ usuario.email }}</span></p>
                <p><strong>Rol:</strong> <span class="badge-rol">{{ usuario.rol }}</span></p>
            </div>
        </div>

        <div class="columna-editar">
            <h3>Editar Información</h3>
            
            <form id="formulario_actualizar_datos">
                <label for="edit_nombre">Nombre completo:</label>
                {# Rellenamos el value con el dato de la base de datos #}
                <input type="text" id="edit_nombre" name="nombre" placeholder="nombre nuevo">

                <label for="edit_email">Correo electrónico:</label>
                <input type="email" id="edit_email" name="email" placeholder="correo nuevo" >

                <label for="edit_password">Nueva contraseña:</label>
                <input type="password" id="edit_password" name="password" placeholder="contraseña nueva">

                <button type="submit" id="boton_actualizar_perfil">Guardar Cambios</button>
                
                <button type="button" id="boton_borrar_cuenta">Borrar Cuenta</button>
            </form>
        </div>

    </div>
</main>

{% endblock %}