{% extends "base.html" %}

{% block titulo %}Imprimir - {{ noticia.titulo }}{% endblock %}

{# Sobrescribimos el CSS de la base para poner el de impresión #}
{% block stylesheets %}
    <link rel="stylesheet" href="estilos/estilo_imprimir.css">
{% endblock %}

{% block contenido %}
<main id="noticia_completa">
    <div class="titulo_noticia">
        <h2>{{ noticia.titulo }}</h2>
        <div class="datos">
            <p><strong>Fecha:</strong> {{ noticia.fecha }}</p>
            <p><strong>Lugar:</strong> {{ noticia.lugar }}</p>
            <p><strong>Responsable:</strong> {{ noticia.personas }}</p>
        </div>
        
        <div class="texto_noticia">
            {{ noticia.descripcion | raw }}
        </div>
    </div>

    {# Galería de imágenes  #}
    <div class="imagen_noticia">
        {% for foto in imagenes %}
            <img height="200" width="200" src="{{ foto.src }}" alt="Imagen noticia">
        {% endfor %}
    </div>
</main>
{% endblock %}