*{
    box-sizing:border-box;
}


/*Pongo el fondo blanco*/
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif; /*Fuente clara para papel*/
    padding: 40px;
    width:100%;
}

/*Ocultar elementos no necesarios en la impresión*/
#menu_cabecera, #menu_lateral, .redes_sociales {
    display: none;
}

* img {
    filter: grayscale(100%); /* Convierte el logo a escala de grises para impresión */
}

/*Cabecera*/
#cabecera_principal {
    background-color: transparent; /* Elimina el fondo del encabezado */
    border: none; /* Elimina bordes */
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

/*NOTICIA*/
.imagen_noticia{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
    justify-content:center;
    padding: 20px;

}


/*PIE DE PAGINA*/

#pie_pagina{
    background: grey;
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center; 
}

.enlaces_pie{
    border-bottom: 2px solid black;
    display: flex;
    gap: 35px;
}